

#top {
	background-color: silver;
	height: 50px;
	margin: 10px;
}

#content {
	background-color: green;
	height: 200px;
	margin: 10px;
}

.main {

	display: flex;
	
}

.main div {
	background-color: red;
	height: 200px;
	width: 33.33%;
	margin: 10px;

}



#footer {
	background-color: silver;
	height: 50px;
	margin: 10px;
}

 