.header {
	background-color: rgb(50 255 50);
	color: white;
	padding: 20px;
	height: 100px;
	text-align: center;
}

nav {
	background-color: black;
	height: 20px;
	padding: 10px;
}

a {
	text-decoration: none;
	color: white;
	margin: 10px;
	transition: border 0.2s ease-in-out;
}

a:active {
	border: 1px solid white;
	padding: 5px;
}

img {
	background-color: grey;

}

.content {
	display: flex;
	margin-bottom: 0;
}

.sidebar {
	max-width: 400px;
	background-color: rgb(210 200 210);
	padding: 10px;
}

.main {
	background-color: rgb(200 230 255);
	padding: 10px;
}

.footer {
	background-color: grey;
	height: 60px;
	text-align: center;
	padding: 20px 10px 0 10px;
}